<h1>Administrator</h1>

{{new-article submitArticle="submitArticle"}}

<br><br>




<h4>Articles</h4>
<ul>
  {{#each model as |article|}}
    <li>{{#link-to 'article' article.id}}{{article.title}}{{/link-to}}
        {{edit-article article=article edit="edit"}}
        <button class="btn btn-danger btn-xs" {{action 'delete' article}}>Delete</button>
    </li>
  {{/each}}
</ul>
