<h1>Administrator</h1>

{{new-article submitArticle="submitArticle"}}

<br><br>




<h4>Articles</h4>
<ul>
  {{#each model as |article|}}
    <li>{{#link-to 'article' article.id}}{{article.title}}{{/link-to}}
      <div class="btn-group">
        <button class="btn btn-info btn-xs">Edit</button>
        <button class="btn btn-danger btn-xs">Delete</button>
      </div>
    </li>
  {{/each}}
</ul>
